@keyframes bground{
    0%{background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/venture-garden-group-office.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
    25%{background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/VGG-vibranium-36.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
    50%{background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/VGG-vibranium-43.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
    75%{background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/VGG-vibranium-51.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
    100%{background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/venture-garden-group-office.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
}
body{
    margin: 0;
    padding: 0;
    animation-name: bground;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.container{
    width: 77vw;
    height: 100vh;
    margin: 10px auto;
    display: inline-block;
}

.contact-form{
    /* width: 70vw;
    height: 70vh; */
    margin-left: 30%;
    color: #fff;
}

fieldset{
    border-radius: 10px;
    border: 2px solid rgb(44, 177, 170);
    text-align: center;
}
legend{
    font-size: 2em;
    font-weight: bold;
}
input:not([type="radio"]), textarea{
    display: block;
    border-radius: 4px;
    box-shadow: none;
    margin-top: 8px;
    width: 60%;
    padding: 10px 0;
    padding-left: 10px;
    margin-left: 20%;
}
textarea{
    height: 150px;
}

.btn{
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 40px;
    text-align: center;
    margin-left: 50px;
    background: rgb(44, 177, 170);
    color: #fff;
    box-shadow: none;
    border-style: none;
}
.btn:hover{
opacity: 0.6;
transition-timing-function: linear;
cursor: pointer;
}