@-webkit-keyframes bground {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/venture-garden-group-office.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/venture-garden-group-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  25% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/VGG-vibranium-36.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/VGG-vibranium-36.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/VGG-vibranium-43.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/VGG-vibranium-43.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  75% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/VGG-vibranium-51.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/VGG-vibranium-51.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/venture-garden-group-office.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/venture-garden-group-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes bground {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/venture-garden-group-office.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/venture-garden-group-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  25% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/VGG-vibranium-36.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/VGG-vibranium-36.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/VGG-vibranium-43.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/VGG-vibranium-43.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  75% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/VGG-vibranium-51.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/VGG-vibranium-51.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/venture-garden-group-office.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/venture-garden-group-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-animation-name: bground;
          animation-name: bground;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

div {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

form {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

form h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 30px;
}

input:not([type="radio"]), textarea {
  width: 95%;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 4px;
  margin-top: 10px;
  padding-left: 5px;
}

textarea {
  height: 150px;
}

button {
  padding: 10px 30px;
  border-radius: 4px;
  background-color: rgba(17, 104, 226, 0.6);
  border-style: none;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(251, 253, 253, 0.9);
}

@media screen and (min-width: 1028px) {
  form {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  form h1 {
    font-weight: bold;
    font-size: 2em;
    margin-top: 30px;
  }
  input:not([type="radio"]), textarea {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 35%;
    margin-top: 10px;
    border-radius: 7px;
  }
  textarea {
    height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */